@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin:0;
}
.head-sec{
    margin-top:2%;
    display: flex;
    background-image: url("res/bg/bg-img.PNG");
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: -31% 97%;
    box-shadow: 9px 1px 12px #888888;
}
span{
    color:orange;
}
.head-div-one{
    margin-top:88px;
    margin:8%;
}
.head-div-one h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    margin-left:144px;
}
.head-div-one h3{
    background: -webkit-linear-gradient(45deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:26%;
    margin-bottom: 2%;

}
.anchor{
    color:rgb(248, 248, 248);
    font-size: 15px;
    font-weight: 700;
    font-style:inherit;
    margin-left: 26%;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 10px 170px;
    margin-top:2%;
    border-radius: 7px;
    box-shadow: 10px 10px 8px #888888;
}
.model-one{
    margin-top:5%
    height:508.26px;
    width:580.23px;
    box-shadow: 10px 10px 8px #888888;
}

.mid-sec{
    margin-top:2%;
    display: flex;
    background: url("res/bg/sec-one-bg.png");
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 9px 1px 12px #888888;
}
.mid-div-one{
    
    width: 792px;
    margin-top:20px;
    margin-left:38px;
    border-radius: 8px;
    box-shadow: -2px 3px 11px#888888;
}
.mid-div-one h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:orange;

}
.mid-div-one h3{

    background: -webkit-linear-gradient(60deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:3%;
    margin-bottom: 2%;
}
#about-img{
    height:508.26px;
    width:580.23px;
    margin-top:20px;
    border-radius: 8px;
    box-shadow: -1px -3px 17px #888888;
}
#add-img{
    margin-left:26%;
    height: 41%;
    width:47%;   
    margin-bottom: 3%;
}
.mid-sec-2{
    margin-top:2%;
    display: flex;
    background-color: white;
    border-radius: 6px;
    box-shadow: 9px 1px 12px #888888;
}
.mid-div-two{
    margin-right:2%
    width: 792px;
    padding:2%;
    margin-top:9px;
    margin-left:13px;
    border-radius: 8px;
    box-shadow: -2px 3px 11px #888888;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.mid-div-two h3{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: -webkit-linear-gradient(60deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:3%;
    margin-bottom: 2%;
}
.mid-div-two h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color:orange;

}
.mid-div-two h2{

    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color:black;

}
.mid-div-two p{
    background: -webkit-linear-gradient(60deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mid-div-two ul li{
    color:brown;
    font-weight: 400;
    text-shadow: cadetblue;
}
.mid-img-2{
        margin-top:5%;
        margin-left:5%;
}
.mid-sec-three{

    margin-top:2%;
    display: flex;
    background-color: white;
    border-radius: 6px;
    box-shadow: 9px 1px 12px #888888;

}
.mid-sec-three h1{
    color: orange;
    margin-left:378%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
}
.mid-sec-three h3{

    background: -webkit-linear-gradient(60deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    margin-top:7%;
    margin-left:9%
}
.projects{
    display: flex;
    margin-top: 10%;
}
.img-cont{
    height: 64%;
    width: 96%;
}
.common{
    width:31%;
    border-radius: 6px;
    margin:auto;
    box-shadow: 5px 3px 9px #888888;
}
.mid-4{
    margin-top:-7%
}
.mid-4 h2{
    color: rebeccapurple;
}
.mid-4 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: -webkit-linear-gradient(60deg,#000102,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer{
    margin-top:2%;
    background: url("res/shape/footer.png");
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 9px 1px 12px #3f6ef0;

}
.footer h1 {
    background: -webkit-linear-gradient(60deg,#000102,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:42%;
}
.footer p{
    margin-left:30%;
    background: -webkit-linear-gradient(60deg,#000102,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.topnav {
    background-color:#333333;
    overflow:hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
  }
  .topnav a {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(60deg,#fce066,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display:block;
    float:left;
    font-size:17px;
    padding:14px 16px;
    text-align:center;
    text-decoration:none;
  }
  .topnav a:hover {
    background-color:#DDDDDD;
    color:black;
  }
  .topnav a.active {
    background-color:#dfdb13;
    color:white;
  }
  .topnav .icon {
    display:none;
  }
