@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin:0;
}
.head-sec{
    margin-top:5%;
    display: flex;
    background-image: url("res/bg/bg-img.PNG");
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: -31% 97%;
    box-shadow: 9px 1px 12px #888888;
}
span{
    color:orange;
}
.head-div-one{
    margin-top:88px;
    margin:8%;
}
.head-div-one h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    margin-left:144px;
}
.head-div-one h3{
    background: -webkit-linear-gradient(45deg,#14657e,rgb(197, 122, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:26%;
    margin-bottom: 2%;

}
.head-div-one a{
    color:rgb(248, 248, 248);
    font-size: 15px;
    font-weight: 700;
    font-style:inherit;
    margin-left: 26%;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 10px 170px;
    margin-top:2%;
    border-radius: 7px;
    box-shadow: 10px 10px 8px #888888;
}
.model-one{
    margin-top:5%
    height:508.26px;
    width:580.23px;
    box-shadow: 10px 10px 8px #888888;
}

.mid-sec{
    margin-top:2%;
    display: flex;
    background-color: white;
    border-radius: 6px;
    box-shadow: 9px 1px 12px #888888;
}
.mid-div-one h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:orange;

}
.mid-div-one h3{

    background: -webkit-linear-gradient(45deg,#fdd909,rgb(50, 198, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:26%;
    margin-bottom: 2%;
}
#about-img{
    border-radius: 6px;
    box-shadow: -1px -3px 17px #888888;
}
